main{
	display: block;
	border: 1px solid black;
	margin: auto;
	width: 40%;
	padding-bottom: 1%;
	text-align: center;
}
table{
    border-collapse: collapse;
    //width: 100%;
    //height: 100%;
}
table, tr, td{
    border: 1px solid black;
}
tr, td{
    height: 40px;
    width: 64px;
}